
<!DOCTYPE html>


<div ng-controller="SideKiqCtrl">


<p>
  <strong>Tipo:</strong>
  <%= @sidekiqexemplo.tipo %>
</p>

<p>
  <strong>Codigo:</strong>

  <div>
  
  <%= @sidekiqexemplo.codigo.html_safe %>

  </div>
</p>

<button class="btn btn-primary" ng-click="backProds()">Voltar</button>

</div>
